* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1a1919;
}

a {
  text-decoration: none;
  color: #1a1919;
}

section {
  margin: 0 2rem;
}

span {
  font-weight: bolder;
}

nav {
  width: 100%;
}

.list-section {
  margin-right: 0;
  display: flex;
  margin-left: 0.5rem;
}

.img-list {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 3px;
}

input {
  height: 2rem;
  width: 10rem;
  /* margin-left: 0.5rem; */
  border: 2px solid #345020;
  display: none;
  font-size: 0.9rem;
  padding-left: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.logo {
  font-size: 1.75rem;
  color: #345020;
  letter-spacing: -0.025rem;
  margin-left: -0.5rem;
}

.loading {
  font-size: 1.75rem;
  text-align: center;
}

.navbar {
  background: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #476a2e;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
  padding: 0 2rem 0 2rem;
}

.scroll {
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.section-header {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #345020;
  letter-spacing: -0.05rem;
}

.btn-search {
  background-color: #345020;
  color: white;
  border: none;
  width: 4rem;
  height: 32px;
  display: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-right: -0.5rem;
}

.list-container {
  margin-bottom: 2rem;
  width: 39rem;
}

.btn:hover {
  cursor: pointer;
}

.coins-list-container {
  margin-bottom: 2rem;
  flex-basis: 12rem;
  width: 8rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.list-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
  align-items: center;
  height: 5rem;
}

.list-row-coin {
  justify-content: flex-start;
}

.top-row {
  border-bottom: 2px solid rgb(148, 145, 145);
  height: 3rem;
  color: #1a1919;
  font-weight: bolder;
}

.top-row-coin {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

p {
  margin-right: 7rem;
  font-weight: bolder;
}

.right {
  margin-left: 4rem;
  font-size: 0.9rem;
}

.container {
  padding-top: 0.5rem;
  height: 2rem;
  width: 10rem;
  text-align: center;
  align-items: center;
  /* margin-right: 5rem; */
  font-size: 0.9rem;
  letter-spacing: -0.02rem;
}

.price-container {
  margin-right: -2rem;
  margin-left: -0.5rem;
}

.container-top {
  font-weight: bolder;
  letter-spacing: 0;
}

.search-container {
  display: flex;
}

.fa-search {
  color: #345020;
  height: 0.25rem;
  width: 0.25rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.fa-search:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.no-margin {
  margin: 0;
}

.resize {
  margin-top: 0.5rem;
  margin-left: 0.75rem;
}

.price {
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: -0.05rem;
  color: black;
}

.small {
  margin-right: 2rem;
  font-size: 0.55rem;
  margin-left: -1.3rem;
  background-color: white;
  z-index: 99;
}

.big {
  font-weight: bolder;
  letter-spacing: -0.02rem;
  font-size: 0.9rem;
}

.header-home {
  margin-bottom: 5rem;
  font-size: 1.75rem;
  letter-spacing: -0.075rem;
}

@media screen and (min-width: 750px) {
  .section-header {
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  .header-home {
    margin-bottom: 5rem;
    font-size: 2rem;
    letter-spacing: 0;
  }

  .img-list {
    width: 2rem;
    height: 2rem;
  }

  .list-container {
    width: 65.5rem;
  }

  .coins-list-container {
    flex-basis: 15rem;
  }

  .list-row {
    justify-content: space-around;
  }

  .right {
    margin-left: 4rem;
    font-size: 1rem;
  }

  .hash {
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .container {
    /* margin-right: 5rem; */
    font-size: 1rem;
    letter-spacing: 0;
    margin-left: 7rem;
    margin-right: 0;
  }

  .price-container {
    margin-right: 0;
    margin-left: 5rem;
  }

  .big {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .small {
    font-size: 0.75rem;
    margin-left: 0rem;
  }

  .number {
    margin-right: 0.5rem;
  }

  .top-row-coin {
    padding-left: 1.5rem;
    padding-right: 0;
  }

  .logo {
    font-size: 2rem;
    letter-spacing: 0;
    margin-left: 0;
  }

  .nav-center {
    padding: 0 5rem 0 5rem;
  }

  .fa-search {
    display: none;
  }

  input {
    width: 15rem;
    display: block;
  }

  .btn-search {
    display: block;
    margin-right: 0;
  }

  .price {
    font-size: 2.25rem;
    letter-spacing: 0.025rem;
  }
}

/* @media screen and (min-width: 530px) {
  .container {
    margin-left: 7rem;
    margin-right: 0;
  }
} */

.names {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 9rem;
  margin-right: 1rem;
  gap: 0.2rem;
  padding-left: 1rem;
  margin-left: 0.25rem;
}

.number {
  margin-left: 1rem;
  font-weight: bold;
  margin-right: -0.5rem;
}

.isUp {
  color: green;
}

.isDown {
  color: rgb(253, 38, 38);
}

.up-down {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.1rem;
  letter-spacing: -0.07rem;
}

.facare {
  height: 1.25rem;
  width: 1.25rem;
}

@media screen and (min-width: 600px) {
  /* .fa-search {
    display: none;
  } */

  .list-section {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* 
  input {
    display: block;
    width: 12rem;
  } */

  /* .btn-search {
    display: block;
    width: 4rem;
    margin-right: 0;
  } */

  /* .img-list {
    width: 2rem;
    height: 2rem;
  }

  .section-header {
    letter-spacing: 0;
  }

  .list-container {
    width: 65.5rem;
  }

  .coins-list-container {
    flex-basis: 15rem;
  }

  .list-row {
    justify-content: space-around;
  }

  .right {
    margin-left: 4rem;
    font-size: 1rem;
  }

  .hash {
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .container {
    margin-right: 5rem;
    font-size: 1rem;
    letter-spacing: 0;
  }

  .price-container {
    margin-right: 0;
    margin-left: 5rem;
  }

  .big {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .small {
    font-size: 0.75rem;
    margin-left: 0rem;
  }

  .number {
    margin-right: 0.5rem;
  }

  .top-row-coin {
    padding-left: 1.5rem;
    padding-right: 0;
  } */

  .up-down {
    font-size: 1.5rem;
  }

  .facare {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/*////////////////////////////////////////////////////////*/

.rank {
  background-color: #36454f;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.coin-container {
  /* background-color: rgba(248, 248, 248, 0.795); */
  margin-bottom: 5.5rem;
  border-radius: 0.2rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  /* max-width: 37rem; */
  border-bottom: 2px solid #345020;
}

.name-container {
  display: flex;
  color: #1a1919;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.img-name {
  height: 1.65rem;
  width: 1.65rem;
}

.symbol {
  margin-top: 0.25rem;
  font-weight: bolder;
  font-size: 0.85rem;
  letter-spacing: -0.02rem;
}

.name-big {
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 750px) {
  .img-name {
    height: 2rem;
    width: 2rem;
  }

  .symbol {
    font-size: 1rem;
  }

  .name-big {
    font-size: 1.5rem;
  }
}

.coin-price-container {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
}

.width {
  width: 0.01rem;
}

.hide {
  visibility: hidden;
}

.links-container {
  margin-bottom: 8rem;
}

.underline {
  height: 3px;
  width: 30%;
  background-color: #345020;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.market {
  width: 40%;
}

.single-header {
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.community-info-container {
  margin-bottom: -3rem;
}

.info-row {
  border-bottom: 1px solid rgb(148, 145, 145);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.info-desc {
  margin-bottom: 0;
}

.entries-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
}

.contract {
  margin-bottom: 1rem;
  display: block;
  padding-left: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contract::-webkit-scrollbar {
  display: none;
}

.div {
  margin-top: 1rem;
}

.title {
  margin-bottom: 3rem;
  margin-right: 0;
  color: white;
  background-color: #345020;
  padding: 0.5rem 0;
  width: 5rem;
  font-size: 0.75rem;
  text-align: center;
  display: inline-block;
  border-radius: 0.5rem;
}

.item-key {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(70, 70, 70);
  letter-spacing: -0.025rem;
}

.total {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: -0.025rem;
}

.result-symbol {
  color: rgb(136, 136, 136);
  font-size: 0.65rem;
  letter-spacing: -0.025rem;
}

.result-section {
  padding: 0 0.5rem;
}

.comm-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .comm-container {
    justify-content: space-around;
  }

  .result-section {
    padding: 0 2rem;
  }

  .result-symbol {
    font-size: 0.75rem;
    letter-spacing: -0.01rem;
  }

  .title {
    margin-left: 2rem;
  }

  .contract {
    padding-left: 4rem;
  }

  .entries-web {
    padding-left: 4rem;
  }

  .web-value {
    margin-left: 3rem;
  }

  /* .key-contract {
    margin-left: 4rem;
  } */

  .entries-container {
    padding-left: 4;
  }

  .item-key {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .total {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .entries-desc {
    padding-left: 4rem;
  }

  .coin-container {
    padding-left: 4rem;
  }
}

.contract-title {
  margin-bottom: 1.5rem;
}

.value {
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  text-align: center;
}

.web-value {
  text-align: start;
  background-color: white;
}

.web-url {
  color: blue;
}

.entries-web {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.span-container {
  margin-top: 1rem;
}

.alltime-span {
  font-weight: bold;
  color: rgb(70, 70, 70);
  margin-right: 0.25rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.alltime-date {
  font-size: 0.7rem;
  color: rgb(253, 38, 38);
  letter-spacing: -0.02rem;
  margin-top: 1rem;
}

.little {
  font-size: 0.75rem;
  color: rgb(126, 126, 126);
  font-weight: normal;
  letter-spacing: -0.03rem;
  margin-top: 1rem;
}

.key-contract {
  margin-bottom: 2rem;
  white-space: nowrap;
  margin-right: 0.25rem;
}

.contract-value {
  height: 5rem;
}

.fa {
  height: 1.75rem;
  width: 1.75rem;
}

.market-info-container {
  background-color: rgba(250, 249, 249, 0.795);
  padding: 1rem;
  margin-bottom: 2rem;
}

.market-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.last {
  border-bottom: none;
}

@media screen and (min-width: 900px) {
  .key-contract {
    margin-left: 7rem;
  }

  .entries-desc {
    padding-left: 11rem;
  }

  .entries-web {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 1125px) {
  .single-crypto-main {
    display: flex;
    /* gap: -10rem; */
    justify-content: space-around;
  }

  .market-info-container {
    min-width: 25rem;
  }

  .market {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .coin-container {
    max-width: 37rem;
  }

  .community-info-container {
    max-width: 37rem;
  }

  .contract {
    padding-left: 4rem;
  }

  .entries-web {
    padding-left: 2rem;
  }

  .entries-desc {
    padding-left: 5rem;
  }

  .key-contract {
    margin-left: 1.5rem;
  }
}

.back-home-link {
  color: blue;
  font-size: 1.25rem;
}

.back-home-container {
  text-align: center;
}

.not-found {
  color: #1a1919;
  font-size: 1.25rem;
}

.underline-info {
  margin-bottom: 4rem;
  max-width: 13rem;
}

.search {
  font-size: 8rem;
}

.search-header {
  text-align: left;
  font-size: 1.75rem;
  color: #1a1919;
  font-weight: bold;
}

.search-result-container {
  max-width: 30rem;
  margin: 0 auto;
}

.market-rank {
  font-weight: bold;
}

.no-rank {
  color: rgb(168, 168, 168);
  font-size: 0.85rem;
  font-weight: normal;
}

.result-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.result-name-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contract-value {
    margin-right: 4rem;
  }

  .search-result-container {
    max-width: 35rem;
  }
}
